
/* GRID
============================================== */

$cols: 18;
$margin: 5;
$layout-width: 1260;
$col-width: (($layout-width) / $cols);


/*
 * CONTAINER
 */

.container-#{$cols} {
  @include group;
  width: $layout-width + px;
//  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}


/*
 * COLUMNS
 */

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18 {
    margin: 0 $margin / $layout-width * 100%;
    padding: 0;
    display: inline;
    float: left;
}

@for $i from 1 through $cols {
    .grid-#{$i} {
        width: ( ($col_width * $i) - ($margin * 2) ) / $layout-width * 100%;
    }
}
