$cols: 10;
$margin: 20;
$layout-width: 900 + $margin * 2;
$col-width: $layout-width / $cols;
$percent-margin: $margin / $layout-width;


/*
 * CONTAINER
 */

.grid-container {
  @include group;
  width: $layout-width + px;
  margin: 0 auto;
  position: relative;
}


/*
 * COLUMNS
 */

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
    margin: 0 $percent-margin * 100%;
    padding: 0;
    display: inline;
    float: left;
}

@for $i from 1 through $cols {
    .grid-#{$i} {
        width: ( ($col_width * $i / $layout-width) - 2 * $percent-margin) * 100%;
        height: 1000px;
        background-color: #ccc;
    }
}
