
/* a.Sprites
----------------------------------------------------------------

[Table of contents] - a map of our sprites.

    0.General
    1.Icons
    2.Assorted

---------------------------------------------------------------- */


/* 0.`General Sprite Styles
---------------------------------------------- */


// Add this class in your markup, in addition to another sprite 
// class that defines background-position, height and width
.sprite {
    @include inline-block( top );
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
}

.icon {
	@extend .sprite;
	background-image: url('../img/site/grid-sprite-icons.png');
}

.icon-grid {
	background-position: 0px 0px;
	width: 14px;
	height: 14px;
}

/* 1.`Icon Sprites
---------------------------------------------- */
