
/* a.Sprites
----------------------------------------------------------------

[Table of contents] - a map of our sprites.

    0.General
    1.Icons
    2.Assorted

---------------------------------------------------------------- */


/* 0.`General Sprite Styles
---------------------------------------------- */


// Add this class in your markup, in addition to another sprite 
// class that defines background-position, height and width

.sprite {
    @include inline-block( top );
    overflow: hidden;
    line-height: 0;
	font-size: 0;
	line-height: 0;
    text-indent: -9999px;
	background-image: url('/assets/img/site/cohen-and-steers-sprite-icons.png');
}


// Or use a mixin for more semantic markup

@mixin sprite {
    @include inline-block( top );
    overflow: hidden;
    line-height: 0;
	font-size: 0;
	line-height: 0;
    text-indent: -9999px;
	background-image: url('/assets/img/site/cohen-and-steers-sprite-icons.png');
}


/* 1.`Icon Sprites
---------------------------------------------- */


/* 2.`Assorted Sprites
---------------------------------------------- */
