.helvetica {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

@mixin corner() {
	font-family: 'corner-store';
}

@mixin bello() {
	font-family: 'bello-pro';
}

@mixin raleway() {
	font-family: 'raleway';
}

@mixin tisa() {
	font-family: 'ff-tisa-web-pro';
}

@mixin fatboy() {
	font-family: 'fatboy';
}

@mixin nimbus($weight: 'c') {
	@if $weight == 'c' {
		font-family: 'nimbus-sans-condensed'; 
	}
	@else {
		font-family: 'nimbus-sans-extended';
	}
}

$line: 24;
$font-size: 16;
$em: $font-size * 1;
$base: ($line / $em)*1em ;

// provide px units, and get em units 
@mixin font($newFont:16, $newLine:24) {
    font-size: #{$newFont / $em}em;
    line-height: $newLine / $newFont * 1em;
}

html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
	@extend .helvetica;
	font-size: $font-size / 16 * 1em;
	line-height: #{$line / $em}em;
	-moz-font-feature-settings: "liga=0"; // avoid using ligatures with firefox, they are buggy
	// for smooth transition with typekit
	@include transition(opacity);
	opacity: 0;
}

// for asynchronous typekit loading
.wf-active,
.wf-inactive {

	body {
		opacity: 1;
	}
}

.masthead {
	@include nimbus('c');
	@include raleway;
	@include font(100, 100);
	text-transform: uppercase;
	color: $orange;
	// text-align: center;
}

.masthead-em {
	// @include nimbus('e');
	font-style: italic;
}

.masthead-contrast {
	@extend .masthead;
	@include font(200, 200);
	// @include nimbus('c');
	// @include corner();
	@include bello;
	margin-bottom: $base/2;
	opacity: 0.9;
	text-transform: inherit;
	color: $tan;
	color: #fff;
	// text-align: center;
}

.submasthead {
	@include group;
	clear: both;
	margin-bottom: $base;
}

.submasthead-question {
	font-family: 'ff-tisa-web-pro';
	@include raleway();
	font-style: italic;
	@include font(90, 100);
	color: $pink;
	color: #fff;
	text-align: left;
	text-align: right;
}

.submasthead-question-em {
	// font-weight: bold;
	// @include nimbus;
	// text-transform: uppercase;

}

.submasthead-answer {
	font-family: 'ff-tisa-web-pro';
	@include raleway();
	@include bello;
	@include font(100, 125);
	text-align: right;
	color: rgba(255, 255, 255, 0.5);
}

p {
	font-family: 'ff-tisa-web-pro';
	@include font(24, 31);
}
