.helvetica {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

$line: 24;
$font-size: 16;
$em: $font-size * 1;
$base: ($line / $em)*1em ;

// provide px units, and get em units 
@mixin font($newFont:16, $newLine:24) {
    font-size: #{$newFont / $em}em;
    line-height: $newLine / $newFont * 1em;
}

html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
	@extend .helvetica;
	font-size: $font-size / 16 * 1em;
	line-height: #{$line / $em}em;
	-moz-font-feature-settings: "liga=0"; // avoid using ligatures with firefox, they are buggy
	// for smooth transition with typekit
	@include transition(opacity);
	opacity: 0;
}

// for asynchronous typekit loading
.wf-active,
.wf-inactive {

	body {
		opacity: 1;
	}
}

#masthead {
	font-family: 'ratio', 'ff-dax-web-pro';
	@include font(148, 148);
	margin-bottom: $base/8;
	text-align: left;
}

#submasthead {
	font-family: 'ratio', 'ff-dax-web-pro';
	@include font(36, 48);
	margin-bottom: $base;
	text-align: left;
}

p {
	font-family: 'rooney-web';
	@include font(24, 28);
}
