/*
Title:	Master styles for screen media
Author: Jordan Cooperman, jordan@vectormediagroup.com
Year: 2011

Welcome, thou wanderer of the interwebs!
If you have any questions, Don't be shy. Send me a line!
================================================================
----------------------------------------------------------------

[Table of contents]

 0.General
 1.Navigation
 2.Layout
 4.Pages
 5.Modules
 6.Extensible Classes
 6.Forms
 7.Sprites

----------------------------------------------------------------*/
/* 0.`General
============================================== */
/*
 * FONTS
 */
/*
 * TYPE
 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.regular {
  -webkit-font-smoothing: antialiased; }

.bold {
  -webkit-font-smoothing: antialiased; }

.bold-italic {
  -webkit-font-smoothing: antialiased; }

.helvetica {
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  font-weight: normal; }
  .helvetica.bold {
    font-weight: bold; }

body {
  font-family: "Helvetica neue", "Helvetica", "Arial", "Sans-serif";
  font-size: 1em;
  line-height: 1.5em; }

.tiny {
  /* 12px / 20px */
  font-size: 0.75em;
  line-height: 1.667em; }

.small {
  /* 14px / 20px */
  font-size: 0.875em;
  line-height: 1.5em; }

.normal {
  /* 16px / 24px */ }

.large {
  /* 24px / 32px */
  font-size: 1.5em;
  line-height: 1.333em; }

.huge {
  /* 36px / 42px */
  font-size: 2.25em;
  line-height: 1.167em; }

.tight-line-height {
  line-height: 1em; }

/*
 * GRID
 */
/*
 * CONTAINER
 */
.container-18 {
  width: 1260px;
  margin: 0 auto;
  position: relative; }
  .container-18:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/*
 * COLUMNS
 */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18 {
  margin: 0 0.397%;
  padding: 0;
  display: inline;
  float: left; }

.grid-1 {
  width: 4.762%; }

.grid-2 {
  width: 10.317%; }

.grid-3 {
  width: 15.873%; }

.grid-4 {
  width: 21.429%; }

.grid-5 {
  width: 26.984%; }

.grid-6 {
  width: 32.54%; }

.grid-7 {
  width: 38.095%; }

.grid-8 {
  width: 43.651%; }

.grid-9 {
  width: 49.206%; }

.grid-10 {
  width: 54.762%; }

.grid-11 {
  width: 60.317%; }

.grid-12 {
  width: 65.873%; }

.grid-13 {
  width: 71.429%; }

.grid-14 {
  width: 76.984%; }

.grid-15 {
  width: 82.54%; }

.grid-16 {
  width: 88.095%; }

.grid-17 {
  width: 93.651%; }

.grid-18 {
  width: 99.206%; }

/*
 * media queries included
 * at end of document
 */
::-moz-selection {
  background: #44a1dd;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #44a1dd;
  color: #fff;
  text-shadow: none; }

html,
body {
  height: 100%;
  margin: 0; }

/* 1.`Navigation
============================================== */
/* 2.`Layout
============================================== */
/* 3.`Pages
============================================== */
/* 4.`Modules
============================================== */
/* 5.`Forms
============================================== */
/* 6.`Extensible Classes
============================================== */
/*
 * Display
 */
.inline-block {
  display: inline-block;
  *display: inline; }

/* 7.`Sprites
============================================== */
.icon,
.sprite {
  text-indent: -9999px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  display: block; }

.sprite {
  background-image: url("../img/-sprite-images.png"); }

.icon {
  background-image: url("../img/-sprite-icons.png"); }

/* media queries */
