/*
Title:	Master styles for screen media
Author: Jordan Cooperman, jordan@vectormediagroup.com
Year: 2011

Welcome, thou wanderer of the interwebs!
If you have any questions, Don't be shy. Send me a line!
================================================================
----------------------------------------------------------------

[Table of contents]

 0.General
 1.Navigation
 2.Layout
 4.Pages
 5.Modules
 6.Extensible Classes
 6.Forms
 7.Sprites

----------------------------------------------------------------*/
/* HTML5 display properties
============================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* Base
============================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  overflow-y: scroll; }

body {
  margin: 0;
  font-size: 65%;
  line-height: 100%; }

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

/* Links
============================================== */
a {
  color: #4b8eda;
  cursor: pointer;
  text-decoration: none; }

a:link, a:visited {
  outline: none; }

a:hover {
  text-decoration: none; }

a:hover, a:active {
  outline: 0; }

/* improved readability on hover */
a:focus {
  outline: 0; }

a img {
  border: none; }

/* Typography
============================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

em {
  font-style: italic; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Lists
============================================== */
ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none;
  list-style-image: none; }

dd {
  margin: 0 0 0 0; }

nav ul, nav ol {
  margin: 0;
  padding: 0; }

/* Embedded Content
============================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  display: block; }

/* Correct overflow not hidden in IE9 */
svg:not(:root) {
  overflow: hidden; }

/* Figures
============================================== */
figure {
  margin: 0; }

/* Forms
============================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input {
  *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

::-webkit-input-placeholder {
  color: #bbb; }

:-moz-placeholder {
  color: #bbb; }

/* Tables
============================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.ir br {
  display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Print Styles
============================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.regular {
  -webkit-font-smoothing: antialiased; }

.bold {
  -webkit-font-smoothing: antialiased; }

.bold-italic {
  -webkit-font-smoothing: antialiased; }

.helvetica {
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  font-weight: normal; }
  .helvetica.bold {
    font-weight: bold; }

body {
  font-family: "Helvetica neue", "Helvetica", "Arial", "Sans-serif";
  font-size: 1em;
  line-height: 1.5em; }

.tiny {
  /* 12px / 20px */
  font-size: 0.75em;
  line-height: 1.667em; }

.small {
  /* 14px / 20px */
  font-size: 0.875em;
  line-height: 1.5em; }

.normal {
  /* 16px / 24px */ }

.large {
  /* 24px / 32px */
  font-size: 1.5em;
  line-height: 1.333em; }

.huge {
  /* 36px / 42px */
  font-size: 2.25em;
  line-height: 1.167em; }

.tight-line-height {
  line-height: 1em; }

/* GRID
============================================== */
/*
 * CONTAINER
 */
.container-18 {
  width: 1260px;
  margin: 0 auto;
  position: relative; }
  .container-18:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/*
 * COLUMNS
 */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18 {
  margin: 0 0.397%;
  padding: 0;
  display: inline;
  float: left; }

.grid-1 {
  width: 4.762%; }

.grid-2 {
  width: 10.317%; }

.grid-3 {
  width: 15.873%; }

.grid-4 {
  width: 21.429%; }

.grid-5 {
  width: 26.984%; }

.grid-6 {
  width: 32.54%; }

.grid-7 {
  width: 38.095%; }

.grid-8 {
  width: 43.651%; }

.grid-9 {
  width: 49.206%; }

.grid-10 {
  width: 54.762%; }

.grid-11 {
  width: 60.317%; }

.grid-12 {
  width: 65.873%; }

.grid-13 {
  width: 71.429%; }

.grid-14 {
  width: 76.984%; }

.grid-15 {
  width: 82.54%; }

.grid-16 {
  width: 88.095%; }

.grid-17 {
  width: 93.651%; }

.grid-18 {
  width: 99.206%; }

/*
 * media queries included
 * at end of document
 */
/* 0.`General
============================================== */
::-moz-selection {
  background: #44a1dd;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #44a1dd;
  color: #fff;
  text-shadow: none; }

html,
body {
  height: 100%;
  margin: 0; }

/* 1.`Navigation
============================================== */
/* 2.`Layout
============================================== */
/* 3.`Pages
============================================== */
/* 4.`Modules
============================================== */
/* 5.`Forms
============================================== */
/* 6.`Extensible Classes
============================================== */
/*
 * Display
 */
.inline-block {
  display: inline-block;
  *display: inline; }

/* 7.`Sprites
============================================== */
.icon,
.sprite {
  text-indent: -9999px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  display: block; }

.sprite {
  background-image: url("../img/-sprite-images.png"); }

.icon {
  background-image: url("../img/-sprite-icons.png"); }

/* media queries */
/* media queries
============================================== */
