/* ----------------------------------------------------------------

Title: Master styles for screen media
Author: Jordan Cooperman, jordan@vectormediagroup.com
Year: 2012

----------------------------------------------------------------

WELCOME

Oh, I didn't see you there friend.

Please, have a look around, I hope you enjoy your stay.

----------------------------------------------------------------

[Table of contents] - A map of our grounds.

    0.General
		a.base elements
		b.base classes
    2.Layout
    3.Extensible Classes
    4.Sprites

    *.Pages, modules and media queries at the end of this file

----------------------------------------------------------------

[Prefixes] - Some patterns that you may observe.

    g: global
    s: state

---------------------------------------------------------------- */
/* 0.`General
---------------------------------------------- */
.helvetica, body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 1em;
  line-height: 1.5em;
  -moz-font-feature-settings: "liga=0"; }

/* a.`base elements
------------------------- */
html,
body {
  height: 100%;
  margin: 0; }

html {
  height: 100%; }

body {
  min-height: 100%;
  -moz-font-feature-settings: "liga=0";
  padding-top: 2.25em; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  display: block; }

p {
  margin-top: 0; }
  p a {
    display: inline; }

li {
  list-style: none; }

img {
  max-width: 100%; }

::-moz-selection {
  background: #44a1dd;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #44a1dd;
  color: #fff;
  text-shadow: none; }

/* 2.`Layout
---------------------------------------------- */
/* 3.`Extensible Classes
---------------------------------------------- */
.group {
  min-height: 1px; }
  .group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.text {
  width: 4em;
  padding: 0.375em 0.375em;
  margin-right: 2.25em;
  font-size: 0.813em;
  line-height: 1.385em;
  border: 1px solid #e6e6e6;
  color: #252525;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.05);
  box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.05); }
  .text:focus {
    outline: 0; }

.button {
  padding: 0.5em 1em;
  border: 1px solid #d1d1d1;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #e8e8e8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, white, #e8e8e8);
  background-image: -moz-linear-gradient(top, white, #e8e8e8);
  background-image: -ms-linear-gradient(top, white, #e8e8e8);
  background-image: -o-linear-gradient(top, white, #e8e8e8);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  font-size: 0.875em;
  line-height: 1em;
  text-decoration: none;
  color: #878787; }
  .button:hover {
    color: #666;
    border: 1px solid #bbb; }
    .button:hover .icon {
      opacity: 1; }
  .button:active {
    margin-top: 1px;
    margin-bottom: -1px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .button .icon {
    opacity: 0.8; }

/* a.Sprites
----------------------------------------------------------------

[Table of contents] - a map of our sprites.

    0.General
    1.Icons
    2.Assorted

---------------------------------------------------------------- */
/* 0.`General Sprite Styles
---------------------------------------------- */
.sprite, .icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  overflow: hidden;
  line-height: 0;
  text-indent: -9999px; }

.icon {
  background-image: url("../img/site/grid-sprite-icons.png"); }

.icon-grid {
  background-position: 0px 0px;
  width: 14px;
  height: 14px; }

/* 1.`Icon Sprites
---------------------------------------------- */
#grid-editor {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.375em 0.75em;
  background-color: #f5f5f5;
  border-bottom: 1px solid #d5d5d5;
  background-color: #ededed;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#ededed));
  background-image: -webkit-linear-gradient(top, white, #ededed);
  background-image: -moz-linear-gradient(top, white, #ededed);
  background-image: -ms-linear-gradient(top, white, #ededed);
  background-image: -o-linear-gradient(top, white, #ededed);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  #grid-editor label {
    margin-right: 0.75em;
    font-size: 0.875em;
    line-height: 1em;
    color: #adadad; }

#new-grid-element {
  margin-right: 2.25em; }
  #new-grid-element .icon {
    margin-right: 0.75em; }

.wrapper {
  width: 960px;
  margin: 0 auto;
  margin-top: 1.5em; }

.grid {
  position: relative; }
  .grid.s-hover .grid-element-config-link {
    display: block; }
  .grid.s-hover .grid-element-config-overlay {
    display: none; }
    .grid.s-hover .grid-element-config-overlay.s-active {
      display: block; }

.grid-element-config {
  position: absolute;
  top: 0.75em;
  right: 0.75em; }

.grid-element-config-link {
  display: none; }

.grid-element-config-overlay {
  display: none; }

.grid-1 {
  width: 7.292%;
  padding: 0;
  margin: 0 0.521%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-2 {
  width: 15.625%;
  padding: 0;
  margin: 0 0.521%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-3 {
  width: 23.958%;
  padding: 0;
  margin: 0 0.521%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-4 {
  width: 32.292%;
  padding: 0;
  margin: 0 0.521%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-5 {
  width: 40.625%;
  padding: 0;
  margin: 0 0.521%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-6 {
  width: 48.958%;
  padding: 0;
  margin: 0 0.521%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-7 {
  width: 57.292%;
  padding: 0;
  margin: 0 0.521%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-8 {
  width: 65.625%;
  padding: 0;
  margin: 0 0.521%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-9 {
  width: 73.958%;
  padding: 0;
  margin: 0 0.521%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-10 {
  width: 82.292%;
  padding: 0;
  margin: 0 0.521%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-11 {
  width: 90.625%;
  padding: 0;
  margin: 0 0.521%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }

.grid-12 {
  width: 98.958%;
  padding: 0;
  margin: 0 0.521%;
  display: inline;
  float: left;
  background-color: #000;
  height: 1000px; }
