/*
Title:	Master styles for screen media
Author: Jordan Cooperman, jordan@vectormediagroup.com
Year: 2011

Welcome, thou wanderer of the interwebs!
If you have any questions, Don't be shy. Send me a line!
================================================================
----------------------------------------------------------------

[Table of contents]

 0.General
 1.Navigation
 2.Header
 3.Footer
 4.Pages
     i.
 5.Modules
 6.Forms
 7.Sprites
 *.User Defined

----------------------------------------------------------------*/

@import "partials/mixins";
@import "partials/type";
@import "partials/grid";

/*
 * media queries included
 * at end of document
 */


/* 0.`general
============================================== */

::-moz-selection { background: #44a1dd; color: #fff; text-shadow: none; }
::selection { background: #44a1dd; color: #fff; text-shadow: none; }

html,
body {
  height : 100%;
  margin : 0;
}


/* 1.`navigation
============================================== */

nav {
  ul {
    @include group;
  }
  li {
    float: left;
  }
}


/* 2.`header
============================================== */

#header {}


/* 3.`footer
============================================== */

#footer {
    margin: 0;
}


/* 4.`pages
============================================== */


/* 5.`modules
============================================== */


/* 6.`forms
============================================== */


/* 7.`sprites
============================================== */

.icon,
.sprite {
  text-indent : -9999px;
  line-height : 0;
  font-size   : 0;
  overflow    : hidden;
  display     : block;
}

.sprite { background-image : url('../img/-sprite-images.png'); }
.icon { background-image   : url('../img/-sprite-icons.png'); }

/* media queries */

@import "partials/media";
