/* ----------------------------------------------------------------

Title: Master styles for screen media
Author: Jordan Cooperman, jordan@vectormediagroup.com
Year: 2012

----------------------------------------------------------------

WELCOME

Oh, I didn't see you there friend.

Please, have a look around, I hope you enjoy your stay.

----------------------------------------------------------------

[Table of contents] - A map of our grounds.

    0.General
		a.base elements
		b.base classes
    2.Layout
    3.Extensible Classes
    4.Sprites

    *.Pages, modules and media queries at the end of this file

----------------------------------------------------------------

[Prefixes] - Some patterns that you may observe.

    g: global
    s: state

---------------------------------------------------------------- */


/* 0.`General
---------------------------------------------- */

@import "partials/mixins";

@import "partials/type";

@import "partials/grid";


/* a.`base elements
------------------------- */

html,
body {
    height: 100%;
    margin: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	-moz-font-feature-settings: "liga=0";
	padding-top: $base*1.5;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	display: block;
}

p {
	margin-top: 0;
	
	a {
		display: inline;
	}
}

img {
	max-width: 100%;
}

::-moz-selection { background: #44a1dd; color: #fff; text-shadow: none; }
::selection { background: #44a1dd; color: #fff; text-shadow: none; }


/* 2.`Layout
---------------------------------------------- */

#g-header {

}

#g-content {

}

#g-footer {

}

/* 3.`Extensible Classes
---------------------------------------------- */

.group {
    min-height: 1px;

    &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
}

.left { float: left; }
.right { float: right; }

.button {
	padding: $base/3 $base/1.5;
	border: 1px solid #d1d1d1;
	@include rounded(2px);
	@include linear-gradient(#fff, #e8e8e8);
	@include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.08));
	@include font(14, 14);
	text-decoration: none;
	color: #878787;

	&:hover {
		color: #666;
		border: 1px solid #bbb;

		.icon {
			opacity: 1;
		}
	}

	&:active {
		margin-top: 1px;
		margin-bottom: -1px;
		@include box-shadow(0, 1px, 0, rgba(255, 255, 255, 0.4));
	}

	.icon {
		opacity: 0.8;
	}
}

@import "partials/sprites";
@import "partials/modules";
@import "partials/pages";
@import "partials/media";
