/* ----------------------------------------------------------------

Title: Master styles for screen media
Author: Jordan Cooperman, jordan@vectormediagroup.com
Year: 2012

----------------------------------------------------------------

WELCOME

Oh, I didn't see you there friend.

Please, have a look around, I hope you enjoy your stay.

----------------------------------------------------------------

[Table of contents] - A map of our grounds.

    0.General
		a.base elements
		b.base classes
    2.Layout
    3.Extensible Classes
    4.Sprites

    *.Pages, modules and media queries at the end of this file

----------------------------------------------------------------

[Prefixes] - Some patterns that you may observe.

    g: global
    s: state

---------------------------------------------------------------- */


/* 0.`General
---------------------------------------------- */

@import "partials/mixins";

@import "partials/type";

@import "partials/grid";


/* a.`base elements
------------------------- */

html,
body {
    height: 100%;
    margin: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	-moz-font-feature-settings: "liga=0";
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	display: block;
}

p {
	margin-top: 0;
	
	a {
		display: inline;
	}
}

::-moz-selection { background: #44a1dd; color: #fff; text-shadow: none; }
::selection { background: #44a1dd; color: #fff; text-shadow: none; }


/* 2.`Layout
---------------------------------------------- */

#g-header {

}

#g-content {

}

#g-footer {

}

/* 3.`Extensible Classes
---------------------------------------------- */

.left { float: left; }
.right { float: right; }

@import "partials/sprites";
@import "partials/modules";
@import "partials/pages";
@import "partials/media";
